{% extends 'MajoredInMainBundle:Info:article.html.twig' %}

{% block title %}Site Map - MajoredIn{% endblock %}

{% block article %}

<h1 class="article-title">Site Map</h1>

<p>Here is the list of majors for which we currently provide entry level jobs and internships.  If you feel like we're missing something please let us know and we'll work on adding it in.</p>

<ul>
{% for major in majors %}
    <li><a href="{{ path('mi_jobs_results', {'major': major|dash}) }}">{{ major }}</a></li>
{% endfor %}
</ul>

<p>Here are our other pages like the "About Us" and boring legal mumbo jumbo.</p>
<ul>
    <li><a href="{{ path('mi_main_homepage') }}">Homepage</a></li>
    <li><a href="{{ path('mi_main_about') }}">About Us</a></li>
    <li><a href="{{ path('mi_main_faq') }}">Frequently Asked Questions</a></li>
    <li><a href="{{ path('mi_main_terms') }}">Terms of Service</a></li>
    <li><a href="{{ path('mi_main_privacy') }}">Privacy Policy</a></li>
    <li><a href="{{ path('mi_main_attribution') }}">Attribution</a></li>
</ul>

{% endblock %}
