<div class="social-sharing hidden">
    <ul>
        <li class="facebook">
            <a class="socialite facebook-like" href="http://www.facebook.com/sharer.php?u={{ shareUrl }}&amp;t=MajoredIn" data-href="{{ shareUrl }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" rel="nofollow" target="_blank">Like</a>
        </li>
        <li class="twitter">
            <a class="socialite twitter-share" href="http://twitter.com/share" data-url="{{ shareUrl }}" data-text="Find entry level jobs and internships by your college major" data-hashtags="jobsearch" rel="nofollow" target="_blank">Tweet</a>
        </li>
        <li class="googleplus">
            <a class="socialite googleplus-one" href="https://plus.google.com/share?url={{ shareUrl }}" data-size="medium" data-href="{{ shareUrl }}" rel="nofollow" target="_blank">+1</a>
        </li>
        <li class="linkedin">
            <a class="socialite linkedin-share" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareUrl }}&amp;title=MajoredIn" data-url="{{ shareUrl }}" data-counter="right" rel="nofollow" target="_blank">InShare</a>
        </li>
    </ul>
</div>