{% extends '::base.html.twig' %}

{% set title %}{% if major != 'undeclared' %}{{ major|e|ucwords }} Major {% else %}Entry Level {% endif %}{% if jobResults.jobType == 'internship' %}Internships{% else %}Jobs{% endif %}{% if location != 'everywhere' %} in {{ location|e|ucwords }}{% endif %}{% endset %}
{% set description %}{% if jobResults.jobType == 'internship' %}Internships for college students{% else %}Entry level jobs for college graduates{% endif %}{% if major != 'undeclared' %} with {{ major|e|strtolower|addarticle }} {% if jobResults.jobType == 'internship' %}major{% else %}degree{% endif %}{% endif %}. Search {{ jobResults.totalResults|number_format }} {% if jobResults.jobType == 'internship' %}internships{% else %}jobs{% endif %}{% if major != 'undeclared' %} for {{ major|e|strtolower }} majors{% endif %}{% if location != 'everywhere' %} in {{ location|e|ucwords }}{% endif %}.{% endset %}

{% if major != 'undeclared' %}
    {% set majorFormatted = major|e|ucwords|dash %}
{% else %}
    {% set majorFormatted = 'undeclared' %}
{% endif %}
{% if location != 'everywhere' %}
    {% set locationFormatted = location|e|formatLoc|dash %}
{% else %}
    {% set locationFormatted = 'everywhere' %}
{% endif %}

{% set canonical = url('mi_jobs_results', pageUrlBase|merge({'major': majorFormatted, 'location': locationFormatted})) %}

{% block title %}{{ title }} - MajoredIn{% endblock %}
{% block meta %}
    <meta name="description" content="{{ description }}" />
	<meta name="keywords" content="{% if major != 'undeclared' %}{{ major|e|strtolower }} major {% if jobResults.jobType == 'internship' %}internships, {% else %}jobs, {% endif %}{% endif %}entry level jobs, internships, major, college major, college degree" />
	
	<link rel="canonical" href="{{ canonical }}" />
	{% if jobResults.currentPage != 1 %}
        {% set prev = jobResults.currentPage - 1 %}
        {% if prev == 1 %}
            <link rel="prev" href="{{ url('mi_jobs_results', pageUrlBase|merge({'major': majorFormatted, 'location': locationFormatted})|diff({'page': jobResults.currentPage})) }}" />
        {% else %}
            <link rel="prev" href="{{ url('mi_jobs_results', pageUrlBase|merge({'major': majorFormatted, 'location': locationFormatted, 'page': prev})) }}" />
        {% endif %}{# if prev == 1 #}
    {% endif %}{# if jobResults.currentPage != 1 #}
    {% if jobResults.currentPage != jobResults.maxPage %}
        {% set next = jobResults.currentPage + 1 %}
        <link rel="next" href="{{ url('mi_jobs_results', pageUrlBase|merge({'major': majorFormatted, 'location': locationFormatted, 'page': next})) }}" />
    {% endif %}{# if jobResults.currentPage != jobResults.maxPage #}
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ canonical }}" />
    <meta property="og:image" content="{{ asset('img/majoredin_180x180.png') }}" />
    <meta property="og:site_name" content="MajoredIn" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="fb:app_id" content="621030121246066" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Majored_In">
    <meta name="twitter:url" content="{{ canonical }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ asset('img/twitter_hat.png') }}">
{% endblock %}

{% block body %}

{{ render(controller('MajoredInMainBundle:Layout:header', { 'major': major, 'location': location })) }}

<div id="content">
    <div class="container">
        <div class="row">
            <div id="main" class="span8">
            
                {{ render(controller('MajoredInJobSearchBundle:MajorGuide:index', { 'major': major, 'urlBase': urlBase })) }}
                
                <div id="results-header" class="row">
                    <div id="results-stats" class="span6">
                        {% set rangeStart = jobResults.currentPage * 10 - 9 %}
                        {% set rangeEnd = (jobResults.currentPage * 10 > jobResults.totalViewable) ? jobResults.totalViewable : jobResults.currentPage * 10 %}
                        <span>{{ rangeStart|number_format }}-{{ rangeEnd|number_format }} of {{ jobResults.totalResults|number_format }} </span><h1>{% if jobResults.jobType == 'internship' %}Internships{% else %}Jobs{% endif %} {% if major != 'undeclared' %}for {{ major|e|ucwords }} Majors{% endif %}{% if location != 'everywhere' %} in {{ location|e|ucwords }}{% endif %}</h1>
                    </div>
                    <button id="advanced-button" class="btn span2">Advanced</button>
                </div>
                <div id="search">
                    <ol id="jobs" class={% if jobResults.cached %}"cache-hit"{% else %}"cache-miss"{% endif %}>
                    {% for jobListing in jobResults.jobListings %}
                        {% spaceless %}
                        <li class="job-wrap">
                            <div class="job {{ jobListing.type }}">
                                <h3 class="job-title"><a href="{{ jobListing.url|e }}" target="_blank" rel="nofollow" onMouseDown="xml_sclk(this);">{{ jobListing.title|e }}</a>{% if 'hour' in jobListing.age %}<span class="new-job"> - NEW</span>{% endif %}</h3>
                                <div class="job-info">
                                    <span class="job-company">
                                        <a href="{{ path('mi_jobs_results', urlBase|merge({'company': jobListing.company|e})) }}" rel="nofollow">{{ jobListing.company|e }}</a>
                                    </span>
                                    <span> - </span>
                                    <span class="job-location">
                                        <a href="{{ path('mi_jobs_results', urlBase|merge({'location': jobListing.location|dash})) }}">{{ jobListing.location|e }}</a>
                                    </span>
                                    {% if jobListing.age == 'error' %}
                                    {% else %}
                                        <span class="job-age">{{ jobListing.age|e }} ago</span>
                                    {% endif %}{# if jobListing.age == 'error' #}
                                </div>
                                <p class="job-excerpt">{{ jobListing.excerpt|slice(0,jobListing.excerpt|length - 1)|e }}</p>
                            </div>
                        </li>
                        {% endspaceless %}
                    {% endfor %}{# for jobListing in jobResults.jobListings #}
                    </ol>
                {% if jobResults.currentPage == jobResults.maxPage and jobResults.currentPage == 100 %}
                    <p class="jobs-warn">
                        <span>Looked through 1,000 jobs already?  You are quite the proficient job hunter!  Unfortunately our servers can't keep up with you; we can only serve 1,000
                        results per search. Try using the filters to the left to narrow down your search. Happy job hunting!</span>
                    </p>
                {% elseif jobResults.hidden == '' and jobResults.currentPage == jobResults.maxPage and jobResults.totalViewable != jobResults.totalResults %}
                    <p class="jobs-warn">
                        <span>In order to show the most relevant jobs, we have hidden jobs that are very similar to the {{ jobResults.totalViewable }} already shown.</span>
                        <br/>
                        <span>If you want, you can <a href="{{ path('mi_jobs_results', urlBase|merge({'hidden': 'comboxp0'})) }}" rel="nofollow">repeat this search with hidden jobs included.</a></span>
                    </p>
                {% endif %}{# if jobResults.currentPage == jobResults.maxPage and jobResults.currentPage == 100 #}
                </div>
                
                {% if jobResults.maxPage != 1 %}
                <div class="pagination">
                    <ul>
                {% if jobResults.currentPage != 1 %}
                    {% set prev = jobResults.currentPage - 1 %}
                    {% if prev == 1 %}
                        <li class="prev"><a href="{{ path('mi_jobs_results', pageUrlBase|diff({'page': jobResults.currentPage})) }}">&laquo;<span class="hidden-phone"> Prev</span></a></li>
                    {% else %}
                        <li class="prev"><a href="{{ path('mi_jobs_results', pageUrlBase|merge({'page': prev})) }}">&laquo;<span class="hidden-phone"> Prev</span></a></li>
                        
                    {% endif %}{# if prev == 1 #}
                {% endif %}{# if jobResults.currentPage != 1 #}
                
                {% if jobResults.currentPage < 4 %}
                    {% set pageRange = range(1, (5 < jobResults.maxPage) ? 5 : jobResults.maxPage) %}
                {% elseif jobResults.currentPage > jobResults.maxPage - 2 %}
                    {% set pageRange = range((1 > jobResults.maxPage - 4) ? 1 : jobResults.maxPage - 4, jobResults.maxPage) %}
                {% else %}
                    {% set pageRange = range(jobResults.currentPage - 2, jobResults.currentPage + 2) %}
                {% endif %}{# if jobResults.currentPage < 4 #}
                    
                {% for page in pageRange %}
                    {% if page == jobResults.currentPage  %}
                        <li class="active"><a href="{{ path('mi_jobs_results', pageUrlBase) }}">{{ page }}</a></li>
                    {% elseif page == 1 %}
                        <li><a href="{{ path('mi_jobs_results', pageUrlBase|diff({'page': jobResults.currentPage})) }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="{{ path('mi_jobs_results', pageUrlBase|merge({'page': page})) }}">{{ page }}</a></li>
                    {% endif %}{# if page == jobResults.currentPage  #}
                {% endfor %}{# for page in pageRange #}
                
                {% if jobResults.currentPage != jobResults.maxPage %}
                    {% set next = jobResults.currentPage + 1 %}
                        <li class="next"><a href="{{ path('mi_jobs_results', pageUrlBase|merge({'page': next})) }}"><span class="hidden-phone">Next </span>&raquo;</a></li>
                {% endif %}{# if jobResults.currentPage != jobResults.maxPage #}
                    </ul>
                </div>
                {% endif %}{# if jobResults.maxPage != 1 #}
                
                {{ render(controller('MajoredInJobSearchBundle:Layout:footer')) }}

            </div>
            <div id="sidebar" class="span4">
            
                 {{ render(controller('MajoredInJobSearchBundle:Layout:sidebar')) }}
            
            </div>
        </div>
        
        {% include 'MajoredInJobSearchBundle:Modal:advanced.html.twig' with {'major': major, 'location': location, 'queryString': queryString, 'defaults': defaults} %}
        
        {{ render(controller('MajoredInJobSearchBundle:Layout:popup')) }}

    </div>
</div>

{{ render(controller('MajoredInMainBundle:Layout:footer')) }}

{% endblock %}