{% extends '::base.html.twig' %}

{% block title %}College Graduate Entry Level Jobs & Internships - MajoredIn{% endblock %}

{% block meta %}
{{ parent() }}
    <link rel="canonical" href="{{ url('mi_main_homepage') }}" />
{% endblock %}

{% block body %}
<div id="nav-header">
    <div class="container">
        <div class="navbar">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('mi_main_about') }}"><img alt="MajoredIn" src="{{ asset("img/majoredin_350x73.png") }}"></img></a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Find Jobs</a></li>
                    <li><a href="#">Employment Guides</a></li>
                    <li><a href="#">News & Articles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% spaceless %}
<div id="search-header-wrap">
    <div id="search-header">
        <div class="container">
            <div class="row form-inline">
                <form id="search-bar-form" action="{{ path('mi_jobs_redirect') }}" method="get">
                    <div id="search-inputs" class="span10">
                        <div class="row">
                            <div class="placeholding-input span5">
                                <input id="search-major"  class="span5" type="text" name="major" autocomplete="off" />
                                <label class="placeholder" for="search-major">College major</label>
                            </div>
                            <div class="placeholding-input span5">
                                <input id="search-location" class="span5" type="text" name="location" autocomplete="off" />
                                <label class="placeholder" for="search-location">Where to work</label>
                            </div>
                        </div>
                    </div>
                    <button id="search-submit" class="btn span2" type="submit">Find Jobs</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
<div class="superflag">
    <div class="container">
        <div class="row">
            <div class="span8 offset4">
                <div class="jumbotron">
                    <h1>Example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-wrap">
    {% include 'MajoredInMainBundle:Social:socialshare.html.twig' %}
</div>
<div id="content">
    <div class="container">
        <div class="row marketing">
            <div class="span4">
                <h3>Sample</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            <div class="span4">
                <h3>Sample</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
            <div class="span4">
                <h3>Sample</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
        <div class="row">
            <div id="main" class="span8">
                <h1>Testing</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida, sapien ac mollis posuere, velit mi fringilla turpis, quis vestibulum lacus leo ac orci. Etiam commodo porta sem a varius. Donec a fermentum orci. Nulla sollicitudin, turpis id tincidunt condimentum, urna turpis lobortis diam, id vestibulum neque lectus a mauris. Nulla sit amet nisl et ipsum lobortis consequat. Fusce hendrerit vehicula magna non auctor. Proin varius imperdiet volutpat. Maecenas lobortis nunc quam, ut luctus tortor mattis ut.</p>
                <p>Sed ligula magna, congue at hendrerit ac, adipiscing nec odio. In a metus mauris. Proin sit amet nibh justo. Ut eu orci dui. Phasellus eros dui, pharetra in posuere convallis, lacinia sed libero. Suspendisse sollicitudin hendrerit ante, eget hendrerit lorem commodo vitae. Sed suscipit lacus nec pellentesque accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam at leo at ante rutrum condimentum. Vestibulum mattis gravida lectus quis auctor. Sed id ligula neque. Suspendisse in dapibus velit. Sed sit amet sodales erat. Nunc eleifend et ante sed pellentesque. Donec in felis arcu.</p>
                <p>In diam orci, ullamcorper ut placerat vel, fringilla nec est. Morbi sit amet posuere felis. Nunc placerat velit nulla, quis semper dui porta in. Curabitur aliquet, dui id vehicula venenatis, eros diam viverra lorem, vitae tincidunt ipsum lorem quis nisl. Nulla fringilla risus eros, non volutpat velit accumsan a. Quisque auctor neque dignissim, ornare turpis tristique, suscipit mi. Vivamus in leo vel elit ornare ultrices. Nulla a libero porttitor justo lobortis vestibulum quis eu leo.</p>
                <p>Morbi luctus rutrum lacinia. Aenean justo purus, rhoncus a neque at, consequat mattis eros. Suspendisse in facilisis nulla. Suspendisse sed lacus in urna mattis pulvinar. In tristique, nibh in laoreet porta, nibh nulla dapibus dui, eget accumsan magna quam a dolor. Proin iaculis eu libero varius pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum varius leo at auctor sodales. Cras nec libero semper, tincidunt augue quis, pharetra massa. Donec vitae quam tempus, mattis orci quis, fringilla nulla.</p>
                <p>Nullam dui leo, molestie facilisis lacus id, convallis facilisis nulla. Curabitur sem libero, convallis eu viverra eget, lobortis sed justo. Aenean vitae interdum lacus. Donec egestas aliquam tortor quis congue. Nunc sit amet accumsan nibh. Pellentesque id magna et velit scelerisque mattis ac non elit. In rutrum dui nulla, in fermentum libero condimentum eu. Maecenas at massa nulla. Nunc quis dictum eros. Aliquam et gravida mauris.</p>
            </div>
            <div id="sidebar" class="span4">
                <h3>Sidebar Header</h3>
                <script type="text/javascript"><!--
                	google_ad_client = "ca-pub-9995124179332681";
                    /* Results Bottom Smaller */
                    google_ad_slot = "9776171654";
                    google_ad_width = 300;
                    google_ad_height = 250;
                    document.write('<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"><\/script>');
                //-->
                </script>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean gravida, sapien ac mollis posuere, velit mi fringilla turpis, quis vestibulum lacus leo ac orci. Etiam commodo porta sem a varius. Donec a fermentum orci. Nulla sollicitudin, turpis id tincidunt condimentum, urna turpis lobortis diam, id vestibulum neque lectus a mauris. Nulla sit amet nisl et ipsum lobortis consequat. Fusce hendrerit vehicula magna non auctor. Proin varius imperdiet volutpat. Maecenas lobortis nunc quam, ut luctus tortor mattis ut.</p>
                <p>Sed ligula magna, congue at hendrerit ac, adipiscing nec odio. In a metus mauris. Proin sit amet nibh justo. Ut eu orci dui. Phasellus eros dui, pharetra in posuere convallis, lacinia sed libero. Suspendisse sollicitudin hendrerit ante, eget hendrerit lorem commodo vitae. Sed suscipit lacus nec pellentesque accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam at leo at ante rutrum condimentum. Vestibulum mattis gravida lectus quis auctor. Sed id ligula neque. Suspendisse in dapibus velit. Sed sit amet sodales erat. Nunc eleifend et ante sed pellentesque. Donec in felis arcu.</p>
            </div>
        </div>
    </div>
</div>
<div id="footer-wrap">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span3">
                            <ul class="unstyled">
                                <li><a href="{{ path('mi_main_about') }}">About Us</a></li>
                                <li><a href="{{ path('mi_main_privacy') }}">Privacy Policy</a></li>
                                <li><a href="{{ path('mi_main_terms') }}">Terms of Service</a></li>
                                <li><a href="{{ path('mi_main_sitemap') }}">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="row">
                        <div class="span3">
                            <div class="social-follow">
                                {% spaceless %}
                                <a class="facebook-follow" href="https://www.facebook.com/MajoredIn" target="_blank"></a>
                                <a class="twitter-follow" href="https://twitter.com/Majored_In" target="_blank"></a>
                                <a class="googleplus-follow" href="https://plus.google.com/b/105096370487794174619/105096370487794174619/posts" target="_blank"></a>
                                <a class="linkedin-follow" href="http://www.linkedin.com/company/majoredin" target="_blank"></a>
                                <a class="pinterest-follow" href="http://pinterest.com/majoredinpinnin" target="_blank"></a>
                                {% endspaceless %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            <span class="copyright">&copy; {{ "now"|date("Y") }} Majored In, LLC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

