<div id="nav-header">
    <div class="container">
        <div class="navbar">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/about"><img alt="MajoredIn" src="{{ asset("img/majoredin_350x73.png") }}"></img></a>
            {{ menu|raw }}
        </div>
    </div>
</div>
{% spaceless %}
<div id="search-header-wrap">
    <div id="search-header">
        <div class="container">
            <div class="row form-inline">
                <form id="search-bar-form" action="{{ path('mi_jobs_redirect') }}" method="get">
                    <div id="search-inputs" class="span10">
                        <div class="row">
                            <div class="placeholding-input span5">
                                <input id="search-major"  class="span5" type="text" name="major" {% if major != 'undeclared' %}value="{{ major|e }}" {% endif %}autocomplete="off" />
                                <label class="placeholder{% if major != 'undeclared' %} hide{% endif %}" for="search-major">College major</label>
                            </div>
                            <div class="placeholding-input span5">
                                <input id="search-location" class="span5" type="text" name="location" {% if location != 'everywhere' %}value="{{ location|e }}" {% endif %}autocomplete="off" />
                                <label class="placeholder{% if location != 'everywhere' %} hide{% endif %}" for="search-location">Where to work</label>
                            </div>
                        </div>
                    </div>
                    <button id="search-submit" class="btn span2" type="submit">Find Jobs</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}